// Text Font
$fontTitle: 68px;
$fontXL: 32px;
$fontL: 26px;
$fontM: 22px;
$fontS: 17px;
$fontXS1: 14px;
$fontXS2: 13px;

// Text Line Height
$lineheightTitle: 74px;
$lineheightXL: 36px;
$lineheightL: 32px;
$lineheightM: 28px;
$lineheightS: 22px;
$lineheightXS1: 14px;
$lineheightXS2: 13px;

// Color list
$black: #000000;
$content: #333333;
$date: #a4a4a4;
$link: #3852f7;
$tag: #6c6c6c;
$tagBg: #f5f5f5;
$title: #1a1a1a;
$white: #ffffff;

// Font Family
$fontType1: Roboto;
$fontType2: Merriweather;
