@import "helpers/stylings/mixins";
@import "helpers/stylings/global";

.wrapper {
  @include align-center;
  justify-content: space-between;
  margin-bottom: 62px;

  .adrenalin {
    height: 17px;
    width: 100px;
  }

  .menu {
    height: 20px;
    width: 20px;
  }

  .menuWrapper {
    background: rgba(0, 0, 0, 0.63);
    height: 100vh;
    margin: 0 -20px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;

    .menuContainer {
      align-items: flex-end;
      animation: showing 0.3s ease-in;
      background: rgba(0, 0, 0, 0.72);
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding-top: 40px;
      position: fixed;
      right: 0;
      top: 0;
      width: 200px;
      z-index: 1;

      .closeIcon {
        cursor: pointer;
        height: 25px;
        margin: 0 20px 20px 0;
        width: 25px;
      }
    }
  }

  .headerLinks {
    @include media-query(sp) {
      @include align-center;
      flex-direction: column;
      width: 100%;
    }

    color: $black;
    font-family: $fontType1;
    font-size: $fontXS1;
    font-weight: 400;
    line-height: $lineheightXS1;

    & > span {
      @include media-query(sp) {
        color: $white;
        margin-bottom: 20px;
      }

      &:hover {
        @include media-query(sp) {
          background: $white;
          color: $black;
          padding: 0 5px;
        }
        cursor: pointer;
        background: $black;
        border-radius: 3px;
        color: $white;
      }
      &:not(:last-child) {
        @include media-query(sp) {
          margin-right: 0;
        }
        margin-right: 33px;
      }
    }
  }
}

@keyframes showing {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
